<!-- Clients Aside -->
    <aside class="badges">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                        <img src="img/logos/hatch.jpg" class="img-responsive img-centered" alt="">
                </div>
                <div class="col-md-6 col-sm-6">
                        <img src="img/logos/adwordsmobile.jpg" class="img-responsive img-centered" alt="">
                </div>
            </div>
        </div>
    </aside>
