<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Get in touch</h1>
                    <h3 class="section-subheading text-muted">Book a free 1-hour consultation where I'll help you define actionable tactics to start marketing your game(s).</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="contactForm" id="contactForm" action="https://formspree.io/{{site.email}}" method="POST">
                      <input type="hidden" name="_next" value="https://offtheground.io" />
                      <input type="hidden" name="_subject" value="Free consultation request" />
                      <input type="hidden" name="_language" value="en" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <input type="text" class="form-control" placeholder="First Name *" id="name" required name="name" data-validation-required-message="Please enter your First Name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input type="email" class="form-control" placeholder="Email Address *" id="email" required name="_replyto" data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <!--<div class="control-group form-group">
                                    <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>-->
                            </div>
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <textarea class="form-control" placeholder="What is your biggest challenge when it comes to marketing your game(s)? *" id="message" required name="message" data-validation-required-message="Please let me know how I can help you."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row">
                              <div class="col-lg-1 col-sm-1 col-xs-1 text-right">
                                  <div class="control-group form-group">
                                    <input type="checkbox" class="form-control" id="gdprConsent" required name="gdprConsent" data-validation-required-message="Please allow me to contact you to book a FREE consultation."/>
                                  </div>
                              </div>
                              <div class="col-lg-11 col-sm-11 col-xs-11">
                                <div class="control-group form-group">
                                    <label for="gdprConsent" style="color: white; font-family: {{ site.data.template.font.primary }}; font-weight: 100"> I agree to share my <strong>name</strong> and <strong>email address</strong> with Off The Ground for the sole purpose of offering me a free consultation. This data will be stored for 13 months. I am aware that I can withdraw my permission at all time in the <a href="mydata/index.html" target="_blank">My Data</a> menu. *</label>
                                    <p class="help-block text-danger"></p>
                                  </div>
                              </div>
                            </div>

                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button id="sendMessageButton" type="submit" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
