    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">
                  Hi, I'm {{site.title}}.
                </div>
                <div class="intro-heading">I will help your game find its audience.</div>
                <a href="#services" class="page-scroll btn btn-xl">Show me what you can do</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
